*{
    margin: 0;
    padding: 0;
    font-family: poppins;
}
body{
    padding-top: 75px;
    justify-items: center;
}
h1{
    font-size: 45px;
}
h1, span{
    color: rgb(95, 97, 97);
}
.cell{
    font-family: poppins;
    font-size: 75px;
    color: rgb(95, 97, 97);
    cursor: pointer;
}
.Board{
    border-radius: 30px;
    justify-items: center;
    background-color: aliceblue;
    display: grid;
    width: 450px;
    height: 450px;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}
.annonce{
    margin-top: 25px;
    font-size: 20px;
    color: rgb(95, 97, 95);
}
